
.about {
	display:flex;
	justify-content: space-between;
	margin-top: 30px;
	border: 1px double white;
	border-radius:  10px; ;
	background-color: white;
	height: 66px;
}


.list {
	list-style-type: none;
	display:flex;
	justify-content: space-between;
	padding-inline-start: 18px;
	
}

.li_about {
	padding-right: 43px;
	font-weight: 400;
	font-size: 17px;
	margin-top: 9px;

}



.about_a { 
	text-decoration: none;
	color: #333333;
	
}


.form_seach {
	position: relative;
	display: inline-block;
  
}
  
.input_search {
	margin-top: 10px;
	margin-right: 20px;
	width: 355px;
	height: 50px;
	background-color: #F1F1F1;
	border-radius: 14px;
}

.btn_search {
	margin-top: 5px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	border: 0;
	background: url('http://abhc.com.au/images/icon-search.png') no-repeat 50% 50%;
	background-size: 50%;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}



.img_search {
	border: 2px double white;
	border-radius:  19px;
	background-color: #F1F1F1;
	display:flex;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
	width: 355px;
	
}

.search_possition {
	padding-left: 162px;
}

.text_placeh::placeholder {
	padding-left: 20px;
	background-color: #F1F1F1;
	color: #BEBEBE;
	font-weight: 400;

	
}

.text_placeh {
	border:none;
	outline: none;
	padding:0;
	display: block;
	margin-left: 22px;
	font-size: 10px;
	font-weight: 400;

}	


.text_placeh:focus{
	background-color: #F1F1F1;

}
