.h2-about_us {
	
	margin-bottom: 6px;
	margin-top: 21px;
}

.about_us {
	margin-top: 70px;
	margin-left: 40px;
	width: 880px;

}

.p-about_us {
	color: #666666;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	padding-left: 4px;
	margin-top:10px;
	width: 890px;
}
