
.flex_advantage {
	display: flex;
	flex-flow:wrap;
	justify-content: space-between;
	
	
}

.advantage {
	width: 279px;
	height: 278px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	display: flex;
	align-items:flex-start;
	flex-direction:column;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	box-sizing: border-box;
	padding-left: 45px;
	padding-right: 45px;
	line-height: 32px;
	padding-top: 100px;
	font-weight: 400;
	color: #333333;
	font-size: 16px;

}

.h2-advantage {
	padding-left: 42px;
	margin-bottom: 21px;
	margin-top: 67px;
}

.adv_1 {
	background-image: url(../img/Advantages/Advantages_1.svg);
	background-repeat: no-repeat;
	background-position: 21% 21%;
	
}

.adv_2 {
	background-image: url(../img/Advantages/Advantages_2.svg);
	background-repeat: no-repeat;
	background-position: 20% 19%;
	
}

.adv_3 {
	background-image: url(../img/Advantages/Advantages_3.svg);
	background-repeat: no-repeat;
	background-position: 22% 20%;
	
}


.adv_4 {
	background-image: url(../img/Advantages/Advantages_4.svg);
	background-repeat: no-repeat;
	background-position: 22% 20%;
	
}

.adv_5 {
	background-image: url(../img/Advantages/Advantages_5.svg);
	background-repeat: no-repeat;
	background-position: 20% 20%;
	
}

.adv_6 {
	background-image: url(../img/Advantages/Advantages_6.svg);
	background-repeat: no-repeat;
	background-position: 21% 20%;
	
}

.adv_7 {
	background-image: url(../img/Advantages/Advantages_7.svg);
	background-repeat: no-repeat;
	background-position: 22% 21%;
	
}

.adv_8 {
	background-image: url(../img/Advantages/Advantages_8.svg);
	background-repeat: no-repeat;
	background-position: 20% 20%;
	
}