
.h2-contacts {
	padding-left: 42px;
	margin-bottom: 21px;
	margin-top: 27px;
}
.contacts {
	width: 473px;
	height: 620px;
	background-color: #FFFFFF;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
}

.flex_contacts_in {
	white-space: pre-line;
	display:flex ;
	justify-content: flex-start;
	margin-left: 44px;
	margin-right: 44px;
	line-height: 25px;
	


}

.btn_route {
	width: 215px;
	height: 71px;
	background-color: #FFFFFF; 
	color : #CC9933; 
	font-weight: 700;
	border: 2px double  #CC9933;
	border-radius:  20px;
	margin-left: 44px;
	margin-top: 29px;
	cursor: pointer;

}



.p_contacts {
	color: #666666;
	font-size: 22px;
	font-weight: 700;
	width: 140px;
	margin-top: 13px;
}

.contacts-a {
	color: #CC9933;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

.p_contacts_2 {
	color: #333333;
	font-weight: 400;
	font-size: 16px;
}

.p_yellow {
	color: #CC9933;
	font-size: 16px;
	font-weight: 400;

}

.p_contacts_3 {
	font-size: 16px;
	font-weight: 400;
	color: #969696;

}

.hr_contacts {
	width: 385px;
	color: #CCCCCC;
	
}

.top {
	margin-top: 30px;
}

.flex_contacts_writeus {
	display: flex;
	flex-wrap: nowrap;
}

.write_us {
	display: flex;
	flex-flow: column;
	margin-left: 174px ;
	margin-top: 125px;
}

.writeus_placeh {
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	background-color:white;
	width: 333px;
	height: 68px;
	margin-bottom: 20px;
}

.writeus_placeh::placeholder {
	color: #999999;
	padding-left: 15px;
	font-weight: 400;
}

.writeus_placeh_big::placeholder {
	color: #999999;
	padding-left: 15px;
	font-weight: 400;
	padding-top: 15px;
}


.writeus_placeh_big {
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	background-color:white;
	width: 332px;
	height: 104px;
	margin-bottom: 20px;	
}

.btn_send {
	width: 340px;
	height: 71px;
	background-color: #CC9933;
	color: #FFFFFF;
	font-weight: 500;
	border: 2px double  #F1F1F1;
	border-radius:  14px;
	cursor: pointer;
	font-size: 16px;

		
}

.h2-write_us {
	margin-bottom: 37px;
	font-size: 40px;
	padding-left: 30px;
}