
.footer {
	background-color: #333333;
	width: 1169px;
	height: 339px;
	margin-top: 19px;
	border: 2px double  #333333;
	border-radius:  20px;
	background-image: url(../img/footer/funny_sun.png);
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: bottom 0px right 176px;
	display: flex;

}


.p-footer-1 {
	display: flex;
	flex-flow: column;
	color: #FFFFFF;
	line-height:30px;
	font-weight: 500;

}

.p-footer-1-1 { 
	width: 300px;
	padding-left: 50px;
	padding-top: 26px;		
}

.p-footer-1-2 { 
	width: 300px;		
	padding-left: 51px;
	padding-top: 4px;
}



.p-footer-2 {
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	font-weight: 500;
	padding-left: 122px;
	padding-top: 31px;
}
.p-footer-possition {
	margin-bottom: 38px;
}

.a-footer-flex-2-2 {
	display: flex;
	flex-direction: column;
	line-height: 22px;
	margin-bottom: 29px;
}

.a-footer-flex-2-3 {
	display: flex;
	flex-direction: column;
	line-height: 22px;
}

.footer-soc {
	display: flex;
	align-items: baseline;
	flex-flow: column;
	margin-left: 260px;
	margin-top: 45px;	
}

.footer-color-a {
	color: #CC9933;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;

}

.yellow-footer-a {
	color: #CC9933;
	font-weight: 500;
	text-decoration: none;
	margin-top: 19px;
	margin-left: 54px;
}

.soc-possition {
	margin-top: 21px;
	display: block;
	width: 25px;
	height: 25px;
	background-repeat:no-repeat;
}



.tripadvisor {
	background-image: url(../img/footer/tripadvisor.svg);
	display: block;
	width: 25px;
	height: 25px;
	background-repeat:no-repeat;
	opacity: 0.5019607843137255;
}

.twitter {
	background-image: url(../img/footer/twitter.svg);
	opacity: 0.5019607843137255;

}

.facebook { 
	background-image: url(../img/footer/facebook.svg);
	opacity: 0.5019607843137255;

}

.VK {
	background-image: url(../img/footer/social.svg);
	opacity: 0.5019607843137255;

}

.google {
	background-image: url(../img/footer/google-plus-social-logotype.svg) ;
	opacity: 0.5019607843137255;

}
