
.flex_placement {
	display: flex;
	align-items:flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.h2-placement {
	padding-left: 42px;
	margin-bottom: 19px;
	margin-top: 48px;
}

.placement {
	width: 374px;
	height: 442px;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	margin-bottom: 25px;
	background-color: #FFFFFF;
	
}



.btn_numbers {
	height: 44px;
	background-color: #FFFFFF; 
	color : #CC9933; 
	font-weight: 700;
	border: 2px double  #CC9933;
	border-radius:  11px;
	cursor: pointer;
	width: 100px;

}

.img_services {
	width: 100%;
}

.back_place {
	background-image: url(../img/All_variants.png);
	display: flex;
	align-items:flex-end;
	width: 360px;
	height: 430px;
	
	
}

.a_placement {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	
}

.a_possition {
	margin-bottom: 50px;
	margin-left: 40px;
}

.img_possition {
	padding-left: 7px;

}

.p_plac_1 {
	color: #969696;
	font-weight: 500;
	padding-top: 19px;
	font-size: 16px;
}

.span_plac {
	color: #333333;
	font-weight: 700;
}

.p_plac_2 {
	font-weight: 400;
	margin-top: 0px;
}

.p_plac_3 {
	font-weight: 400;
}


.flex_stars_p {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.stars {
	padding-left:64px;
	padding-top: 24px;
}

.flex_content_place {
	padding-left: 40px;
}