.cabinet {
    color:#CC9933;
	font-size: 18px;

}

.arrow_possition { 
	color: #CC9933;
	margin-top: 18px;
	margin-right: 3px;
}



.flex_cabinet {
	display: flex;
	justify-content: flex-end;
}


.flex-section-2 {
	display:flex;
	flex-wrap: nowrap;
	margin-top: 50px;
}

.quick_booking {
    display: flex;
    flex-flow: column;
}

.quick_placeh {
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	background-color:white;
	min-height: 72px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 16px;
	
}

.quick_placeh::placeholder {
	color: #999999;
	padding-left: 15px;
	font-weight: 400;
}



.btn {
	width: 162px;
	height: 75px;
	background-color: #CC9933;
	color: #FFFFFF;
	font-weight: 500;
	border: 2px double  #F1F1F1;
	border-radius:  13px;
	font-size: 16px;
	cursor: pointer;
	
}

.find_number {
	display: flex;
		
}


.p2 {
	font-weight: 400;
	color: #999999;
	padding-left: 25px;
	padding-top: 10px;
}

.first_rent {
	width: 519px;
	height: 427px;
	display: flex;
	flex-flow: column;
}

