.text-span-srecial {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 35px;
	opacity: .49019607843137253;
	padding-left: 40px;
}

.for-text-h2 {
	color: #333333;
	font-weight: 400;
	font-size: 40px;
}


.special_offers {
	padding-left: 55px;

}

.numbers_lux {
	background: url(../img/Numbers.png) no-repeat ;
	background-size: contain;
	width: 595px;
	height: 540px;
}


.h2-spec {
	padding-left: 42px;
	margin-bottom: 22px;
	margin-top: 21px;
}

.a_more {
	text-decoration: none;
	color:#CC9933;
	font-weight: 400;
	padding-left: 37px;
	font-size: 16px;
}



.text-color-h3 { 
	color: #FFFFFF;
	font-size: 66px;
	display: table-caption;
	font-weight: 500;
	padding-top: 196px;
	padding-left: 40px;
	line-height: 60px;
	margin-bottom: 28px;

}