@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


.body{
background-color: #F1F1F1;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F1F1F1;
}

.header { 
    display:flex;
    justify-content: space-between;
}

.flex_header { 
    color:#666666 ;
    font-family: "Muller";
	display: flex;
}

.cabinet {
    color:#CC9933;
    font-family: 'Muller', sans-serif;

}

.phone {
	margin-left: 25px;
	margin-top: 17px;
	font-family: 'Muller';
	font-weight: 700;
}

.about {
	display:flex;
	justify-content: space-between;
	margin-top: 50px;
	border: 1px double white;
	border-radius:  10px; ;
	background-color: white;
}

.list {
	list-style-type: none;
	display:flex;
	justify-content: space-between;
	
}

.img_search {
	padding-right: 20px;
	border: 2px double white;
	border-radius:  50px;
	font-family: "Muller";
	background-color: #F1F1F1;
	display:flex;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
	
}

.text_placeh::placeholder {
	background-color: #F1F1F1;
	
}

.text_placeh {
	border:none;
	outline: none;
	padding:0;
	display: block;
	margin-left: 22px;
	font-size: 10px;
	font-family: "Muller";
	font-weight: 400;

}	


.text_placeh:focus{
	background-color: #F1F1F1;

}

.text_placeh:valid {
	background-color: #F1F1F1;

}

.li_about {
	padding-right: 80px;
	font-family: "Muller";
	font-weight: 400;
	font-size: 14px;
}

.flex-section-2 {
	display:flex;
	flex-wrap: nowrap;
}

.quick_booking {
display: flex;
flex-flow: column;
}

.quick_placeh {

}

.special_offers {
	
}

.numbers_lux {
	background-image: url(/img/Номера.png) no-repeat 100%;
	back
}

.a_more {

}