@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


.body{
background-color: #F1F1F1;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F1F1F1;
}

.header { 
    display:flex;
    justify-content: space-between;
}

.flex_header { 
    color:#666666 ;
    font-family: "Muller";
	display: flex;
}

.cabinet {
    color:#CC9933;
    font-family: 'Muller', sans-serif;

}

.phone {
	margin-left: 25px;
	margin-top: 17px;
	font-family: 'Muller';
	font-weight: 700;
}

.about {
	display:flex;
	justify-content: space-between;
	margin-top: 50px;
	border: 1px double white;
	border-radius:  10px; ;
	background-color: white;
}

.list {
	list-style-type: none;
	display:flex;
	justify-content: space-between;
	
}

.img_search {
	padding-right: 20px;
	border: 2px double white;
	border-radius:  50px;
	font-family: "Muller";
	background-color: #F1F1F1;
	display:flex;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
	
}

.text_placeh::placeholder {
	background-color: #F1F1F1;
	color: #BEBEBE;
	font-family: "Muller";
	font-weight: 400;

	
}

.text_placeh {
	border:none;
	outline: none;
	padding:0;
	display: block;
	margin-left: 22px;
	font-size: 10px;
	font-family: "Muller";
	font-weight: 400;

}	


.text_placeh:focus{
	background-color: #F1F1F1;

}

.text_placeh:valid {
	background-color: #F1F1F1;

}

.li_about {
	padding-right: 80px;
	font-family: "Muller";
	font-weight: 400;
	font-size: 14px;
}

.flex-section-2 {
	display:flex;
	flex-wrap: nowrap;
	margin-top: 50px;
}

.quick_booking {
display: flex;
flex-flow: column;
}

.quick_placeh {
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	font-family: "Muller";
	background-color:white;
	line-height:71px;
	margin-bottom: 20px;
	
}

.quick_placeh::placeholder {
	color: #999999;
	padding-left: 15px;
	font-family: "Muller";
	font-weight: 400;
}

.first_rent {
	width: 519px;
	height: 427px;
	display: flex;
	flex-flow: column;
}

.special_offers {
	padding-left: 55px;

}

.numbers_lux {
	background: url(/img/Номера.png) no-repeat ;
	background-size: contain;
	width: 595px;
	height: 540px;
}

.text-color-h3 { 
	color: #FFFFFF;
	font-family: "Muller";
	font-size: 55px;
	display: table-caption;
	font-weight: 500;
	padding-top: 180px;
	padding-left: 40px;


}

.a_more {
	text-decoration: none;
	color:#FFCC66 ;
	font-family: "Muller";
	font-weight: 400;
	padding-left: 50px;


}

.text-span-srecial {
	color: #FFFFFF;
	font-family: "Muller";
	font-weight: 400;
	font-size: 35px;
	opacity: .49019607843137253;
	padding-left: 40px;
}

.for-text-h2 {
	color: #333333;
	font-family: "Muller";
	font-weight: 400;
	font-size: 40px;
}

.arrow {
	margin-left: 5px;
}

.h2-spec {
	padding-left: 30px;
	margin-bottom: 15px;
}

.about_us {
	margin-top: 70px;
	margin-left: 40px;
	width: 880px;

}

.p-about_us {
	color: #666666;
	font-family: "Muller";
	font-weight: 400;
	font-size: 15px;
	padding-left: 30px;
	line-height: 25px;
}

.yellow {
	color: #CC9933;
	font-family: "Muller";
	font-weight: 500;
}

.p2 {
	font-family: "Muller";
	font-weight: 400;
	color: #999999;
	padding-left: 25px;
	padding-top: 10px;
}

.btn {
	width: 140px;
	height: 70px;
	background-color: #CC9933;
	color: #FFFFFF;
	font-family: "Muller";
	font-weight: 500;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
		
}

.find_number {
	display: flex;
	

	
}

.block_services {
	width: 573px;
	height: 326px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	margin-right: 10px;
	
	
}

.flex_services {
	display: flex;
	flex-flow:wrap-reverse;
}

.h2-services {
	padding-left: 67px;
	margin-bottom: 15px;
}
.a_services {
	font-size:22px ;
	text-decoration: none;
	color:#FFCC66 ;
	font-family: "Muller";
	font-weight: 400;
	padding-left: 30px;
}

.p_services {
	color: #666666;
	font-family: "Muller";
	font-weight: 400;
	font-size: 16px;
	padding-left: 30px;
	line-height: 25px;
	padding-right: 120px;
}
.services_img {
	margin-bottom: 20px;
}

.flex_advantage {
	display: flex;
	flex-flow:wrap;
	
}

.advantage {
	width: 265px;
	height: 265px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	margin-right: 20px;
	display: flex;
	align-items:flex-start;
	flex-direction:column;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	box-sizing: border-box;
	padding-left: 45px;
	padding-right: 45px;
	line-height: 25px;
	padding-top: 40px;
	font-family: "Muller";
	font-weight: 400;
	color: #333333;
	font-size: 14px;

}


.flex_placement {
	display: flex;
	align-items:flex-start;
	flex-wrap: wrap;
}

.placement {
	width: 360px;
	height: 430px;
	border: 2px double  #F1F1F1;
	border-radius:  20px;
	margin-bottom: 25px;
	margin-right: 25px;
	background-color: #FFFFFF;
}



.btn_numbers {
	width: 70px;
	height: 40px;
	background-color: #FFFFFF; 
	color : #CC9933; 
	font-family: "Muller";
	font-weight: 500;
	border: 2px double  #CC9933;
	border-radius:  20px;
}